#navigation{
    width:32%;
    display:inline-block;
    border:1px solid black;
}

.none{
    display:none;
}



#mobileMenu{
    position:absolute;
    width:90%;
    border:solid 1px black;
    text-align: center;
    z-index: 10;
    flex: left;
    background-color: white;
    font-size:20px;

}

#mobileMenuX{
    flex:right;
    display:block;
    text-align:right;
    border:1px solid black;
    display:inline-block;
    border-radius:10px;
    background-color:bisque;

    position:absolute;
    right:-4px;
    up:5px;
}

.menuMobile{
    list-style-type:none;

}

.noneMenu{
    display:none;
}

.theNav{
    display:inline-block;
    margin-left:25px;
}

#burgerNav{
    width:7%;
    border:1px solid black;
    text-align: center;
}

#theBurger{
    width:20px;
}

#burgerRight{
    border:solid 1px black;
    width:10%;
    text-align:center;
}

#headerLogo{
    width:35%;
    display:inline-block;
    border:1px solid black;
    text-align:center;
}

#headerRight{
    width:29%;
    display:inline-block;
    border:1px solid black;
    text-align:right;
}

.headerRight{
    display:inline-block;
    margin-left:25px;
}

#newArrivalBanner{
    background-image: url('https://i.ibb.co/GkRMJcK/sep-8.webp');
    background-color: brown;
    z-index: 1;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: middle;
    border:solid 10px black;
    background-size:cover;
    font-family: 'Oswald', sans-serif;

}

#newArrivalText{
    display: inline-block;
    text-align: center;
    align-items: center;
    position: relative;

    top:30%;
    color: white;
    font-size:xx-large;

}

#yes{


    display:inline-block;
    position: relative;
    border:1px solid black;
    top:40%;
}


#newArrivalImage{
    width:95%;
}

.bestSellers{
    text-align:center;
    border:1px solid black;
}

#comeIntoYourOwn{
    background-image: url('https://i.ibb.co/1TtYzLp/come-into-your-own.webp');
    background-repeat: no-repeat;
    width:100%;
    height:500px;
    background-size: cover;
    text-align:center;
}

.comeText{
    text-align:center;
    display:inline-block;
    align-items: center;
    color: white;
    border:1px solid black;
    font-family: 'Oswald', sans-serif;
    position: relative;
    top:40%;
}

#comeIntoYourOwnText{
    font-size: 70px;
    font-weight: 700;
}

#YouAreMeantText{
    font-size: 50px;
    font-weight: 400;

}

#imgComeLife{
    width:100%;
    background-repeat: no-repeat;
    z-index: 1;
    display:inline-block;
    border:10px solid;
    position:relative;
}

#comeLifeText{
    display:inline-block;
    position:relative;
    z-index: 3;
    margin:10%;
}


@media (max-width:400px){
    #headerLogo{
        width:75%;
        text-align:center;
        align-items: center;
    }

    #navigation{
        display:none;
    }

    #burgerNav{
        display:inline-block;
    }

    #headerRight{
        display:none;
    }

    #burgerRight{
        display:inline-block;

    }

    .comeText{
        top:15%;
    }

    #comeIntoYourOwnText{
        font-size: 40px;
        font-weight: 700;
    }
    
    #YouAreMeantText{
        font-size: 30px;
        font-weight: 400;
    
    }

    #comeIntoYourOwn{
        height:300px;
    }

}

@media(min-width:401px){

}